<div class="container-wide grid-section">
    <div class="section-title">
        <h2>Admin</h2>
    </div>
    <div class="grid">
        <div>
            <ul class="list">
                <li ng-click="selectUser($index)" ng-repeat="user in userList">{{user.fullname}}</li>
            </ul>
        </div>
        <div class="grid-on-3-span-2" ng-if="selectedUser">
            <h1>{{selectedUser.fullname + "(" + selectedUser.username + ")"}}</h1>
            <small>{{selectedUser.creationString}}</small>
        </div>
    </div>
</div>