
<br/>
<div style="text-align: center;">
    <div class="button-group" style="display: inline-block;">
        <button ng-click="setCreateIssueOrPage('issue')" ng-class="{major:isCreateIssueOrPage('issue')}">Issue</button>
        <button ng-click="setCreateIssueOrPage('page')" ng-class="{major:isCreateIssueOrPage('page')}">Page</button>
    </div>
</div>
<div class="container-small">
    <div ng-show="createIssueOrPage == 'issue'">
        new issue
    </div>
    <div ng-show="createIssueOrPage == 'page'">
        <page-edit 
            page="page"
            type="'create'"></page-edit>
    </div>
</div>