<div class="container-wide grid-section">
    <div class="section-title">
        <h2>Demo of<br/>graphic<br/>elements<br/>of avance</h2>
    </div>
    <div class="grid">
        <div>
            <span>Headers</span>
            <h1>h1 Hello World</h1>
            <h2>h2 Hello World</h2>
            <h3>h3 Hello World</h3>
        </div>
        <div>
            <span>Paragraph</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Maecenas ac odio id est dapibus commodo vel ut justo. Ut 
                vehicula ultricies efficitur. Pellentesque habitant morbi 
                tristique senectus et netus et malesuada fames ac turpis 
                egestas. Aliquam nisi erat, auctor at blandit et, consectetur 
                a leo. Donec tempus tempor rhoncus. Vestibulum massa ante, 
                mattis ut semper nec, congue nec mi. Donec a quam ornare, 
                congue ipsum at, lobortis sapien. </p>
        </div>
        <div>
            <span>Buttons</span><br/>
            <button>minor</button>
            <button class="major">major</button>

            <div class="button-group">
                <button>left</button>
                <button>center</button>
                <button class="major">right</button>
            </div>
        </div>
        <div>
            <span>Forms</span>
            <form>
                <label>
                    <span>Login</span>
                    <input type="text" />
                </label>
                <label>
                    <span>password</span>
                    <input type="password" />
                </label>
                <div class="label-fake">
                    <span></span>
                    <button>Cancel</button>
                    <button>Login</button>
                </div>
                
            </form>
        </div>
        <div class="grid-on-3-span-2">
            <div class="panel">
                <span class="title">Title</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Maecenas ac odio id est dapibus commodo vel ut justo. Ut 
                        vehicula ultricies efficitur. Pellentesque habitant morbi 
                        tristique senectus et netus et malesuada fames ac turpis 
                        egestas. Aliquam nisi erat, auctor at blandit et, consectetur 
                        a leo. Donec tempus tempor rhoncus. Vestibulum massa ante, 
                        mattis ut semper nec, congue nec mi. Donec a quam ornare, 
                        congue ipsum at, lobortis sapien. </p>
            </div>
            <div class="panel inverse">
                    <span class="title">Title</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Maecenas ac odio id est dapibus commodo vel ut justo. Ut 
                            vehicula ultricies efficitur. Pellentesque habitant morbi 
                            tristique senectus et netus et malesuada fames ac turpis 
                            egestas. Aliquam nisi erat, auctor at blandit et, consectetur 
                            a leo. Donec tempus tempor rhoncus. Vestibulum massa ante, 
                            mattis ut semper nec, congue nec mi. Donec a quam ornare, 
                            congue ipsum at, lobortis sapien. </p>
                </div>
        </div>
    </div>
</div>