<div class="container-wide grid-section">
    <div class="section-title">
        <h2>Welcome to Avance</h2>
        <p>Avance is a free and opensource project management tool.
        </p>
    </div>
    <div class="grid">
        <a href="#!/demo">
            <h3>Demo</h3>
            <p>Demo of graphical elements.
            </p>
        </a>
        
    </div>
</div>