<div class="container-small">
    Login
    <form>
        <label>
            <span>Username</span>
            <input type="text" />
        </label>
        <label>
            <span>Password</span>
            <input type="password" />
        </label>
        <div class="label-fake">
            <span></span>
            <button class="major" ng-click="login()">Login</button>
        </div>
    </form>
</div>