<nav id="nav">
    <a href="" ng-click="back()" class="close">&times;</a>
    <a href="#!/create">create</a>
    <a href="#!/projects">projects</a>
    <a href="#!/user">john doe</a>
    <a href="#!/admin">admin</a>
</nav>