<div class="container-wide grid-section">
    <div class="section-title">
        <small>Page in <a href="#!/project/">Project</a></small>
        <h2>{{page.pagetitle}}</h2>
        <button ng-click="reading=true;">Reading</button>
        <button ng-hide="edit" ng-click="edit=true;">Edit</button>
        <button ng-show="edit" ng-click="edit=false;">View</button>
        <button ng-click="preferences=true;">Preferences</button>
    </div>
    <div ng-hide="edit" class="container-small">
        <div ng-bind-html="markupToHtml(page.content)"></div>
        
    </div>
    <div class="window" ng-class="{open:edit}" ng-show="edit">
        <div class="window-frame-wide">
            <div class="block">
                <b>Edit Page</b>
            </div>
            <hr/>
            <div class="block">
                <page-edit cancel="cancelEdit" done="doneUpdate" page="page" type="'update'"></page-edit>
            </div>
            
        </div>
    </div>
    <div ng-class="{open:reading}" class="reading">
        <span class="close" ng-click="reading=false;">close &times;</span>
        <div class="container-small">
                <div ng-bind-html="markupToHtml(page.content)"></div>  
        </div>
    </div>
    <div class="window" ng-class="{open:preferences}">
        <div class="window-frame">
            <div class="block">
                <h3> Preferences</h3>
            </div>
            <hr/>
            <div class="block">
                <b>Actions</b><br/>
                <button ng-click="deletePage()">Delete</button>
            </div>
            <hr/>
            <div class="block" style="text-align: right;">
                <button ng-click="preferences=false;">Close</button>
            </div>
    
        </div>
    </div>
</div>
