<div class="container-wide grid-section">
    <div class="section-title">
        <h2>Projects</h2>
    </div>
    <div class="grid">
        <div>
            <ul class="list">
                <li ng-click="selectProject($index)" ng-repeat="project in projectList">{{project.projectname}}</li>
            </ul>
        </div>
        <div class="grid-on-3-span-2" ng-if="selectedProject">
            <h1>{{selectedProject.key + " - " + selectedProject.projectname}}</h1>
            <small>{{selectedProject.creationString}}</small>
            <p>{{selectedProject.description}}</p>
            <div class="grid-split-2">
                <div>
                    <h2>Issues</h2>
                    
                    
                </div>
                <div>
                    <h2>Pages</h2>
                    <ul class="list">
                        <li ng-repeat="page in (selectedProject.pages ? selectedProject.pages : [])">
                            <a href="#!/page/{{page.avanceid}}">{{page.pagetitle}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>