<div>
    <label>
        <span>Project</span>
        <select ng-model="$ctrl.page.project" style="width: 100%;">
            <option value="{{proj.avanceid}}" ng-repeat="proj in $ctrl.projects">{{proj.projectname}}</option>
        </select>
    </label>
    <label>
        <span>Title</span>
        <input ng-model="$ctrl.page.pagetitle" type="text" style="width: 100%"/>
    </label>
    <label>
        <span>Content</span>
        <textarea ng-model="$ctrl.page.content" style="width: 100%; max-width: 100%; min-width: 100%; height: 400px;"></textarea>
    </label>
    <div style="text-align: right;">
        <button ng-click="$ctrl.cancel()">Cancel</button>
        <button ng-if="$ctrl.type=='create'" class="major" ng-click="$ctrl.createPage();">Create</button>
        <button ng-if="$ctrl.type=='update'" class="major" ng-click="$ctrl.updatePage();">Update</button>
    </div>
</div>