@font-face {
    font-family: "Nimbus Sans";
    src: url('./fonts/NimbusSanL-Regu.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nimbus Sans";
    src: url('./fonts/NimbusSanL-ReguItal.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Nimbus Sans";
    src: url('./fonts/NimbusSanL-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Nimbus Sans";
    src: url('./fonts/NimbusSanL-BoldItal.ttf');
    font-style: italic;
    font-weight: bold;
}


@font-face {
    font-family: "Nimbus Sans Cond";
    src: url('./fonts/NimbusSanL-ReguCond.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nimbus Sans Cond";
    src: url('./fonts/NimbusSanL-ReguCondItal.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Nimbus Sans Cond";
    src: url('./fonts/NimbusSanL-BoldCond.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Nimbus Sans Cond";
    src: url('./fonts/NimbusSanL-BoldCondItal.ttf');
    font-style: italic;
    font-weight: bold;
}









@font-face {
    font-family: "Garamond";
    src: url('./fonts/EBGaramond08-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Garamond";
    src: url('./fonts/EBGaramond08-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}