:root {
    --background: #fff;
    --text-color: #111;
    --theme-color: #e50;
    --theme-color-light: #faa;
    --light: #ddd;
    --dark: #666;
    --padding: 10px;
    --portfolio-background: rgb(31,31,31);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nimbus Sans", sans-serif;
    overflow-x: hidden;
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 4px;
}

small {
    color: var(--dark);
    font-size: 9pt;
}

ul {
    margin-left: 14px;
}

ul.list {
    margin-left: 0px;
    list-style-type: none;
    width: 100%;
    border: 1px solid var(--text-color);
}

ul.list li {
    padding: 10px;
    cursor: pointer;
}

ul.list li:nth-child(even) {
    background-color: var(--light);
}

.menu {
    display: none;
    height: 40px;
    width: 40px;
    padding-top: 7px;
}

.menu .bar {
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
}

p {
    font-size: 12pt;
    line-height: 1.2;
    margin-bottom: 6pt;
    text-align: justify;
}

header {
    padding: 2px 4px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 36px;
    transition: all .2s;
    color: #fff;
}

header.scroll {
    background-color: #000;
}

header h1 {
    display: inline-block;
    font-size: 20pt;
}

header nav{
    float: right;
}

header nav a {
    color: #fff;
    display: inline-block;
    font-size: 18pt;
    padding: 2px;
    font-weight: 500;
}

nav a.close {
    display: none;
}

.header {
    width: 100%;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-color: var(--theme-color);
    color: var(--text-color);
    text-align: center;
}

.header span {
    display: inline-block;
    margin-top: 25vh;
    font-size: 70pt;
    font-family: "Reporter";
}

.container, .container-wide, .container-small {
    margin: 4px;
}

.container-small {
    max-width: 540px;
    margin: 4px auto;
    padding: 0px 4px;
    width: 100%; 
}

.container-wide {
    margin: 4px auto;
    width: 100%;
    max-width: 1440px;
    padding: 0px 4px;
}

header .container-wide {
    padding: 0px;
    margin: 0px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--padding);
    grid-template-rows: minmax(300px, max-content);
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: var(--padding);
    margin: var(--padding) auto;
}

.section-title {
    padding: 4px;
}

.section-title::before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;
    margin-top: -4px;
    content: '';
}

.grid > div, .grid > a {
    display: block;
    min-height: 300px;
    padding: 4px;
    background-size:cover;
    background-position: center;
    text-decoration: none;
    color: #000;
}

.grid > a:hover {
    border: 1px solid var(--text-color);
    padding: 3px;
}

.grid-split-2 {
    display: grid;
    grid-gap: var(--padding);
    grid-template-columns: 1fr 1fr;
}

.grid a h3 {
    text-decoration: underline;
} 

.grid-on-3-span-2 {
    grid-column: auto / span 2;
}

.grid-v-on-3-span-2 {
    grid-row: auto / span 2;
}


.reading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: none;
    overflow-y: auto;
    padding: 4px;
    font-family: "Garamond";
}

.reading.open {
    display: block;
}

.reading .close {
    font-size: 18pt;
    position: fixed;
    top: 4px;
    right: 4px;
    font-family: "Nimbus Sans", sans-serif;
}

.reading .panel {
    border: none;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.window {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: none;
    overflow-y: auto;
}

.window-frame, .window-frame-wide {
    width: 100%;
    max-width: 480px;
    margin: 20px auto;
    background-color: var(--background);
}

.window-frame-wide {
    max-width: calc(100% - 40px)
}

.window-frame .block, .window-frame-wide .block {
    padding: 10px;
}

.window.open {
    display: block;
}

.container-fixed {
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.grid h1 { font-size: 25pt; }
.grid h2 { font-size: 20pt; }
.grid h3 { font-size: 15pt; }
.grid p { font-size: 10pt; }

button, input, select, textarea {
    font-size: 10pt;
    font-family: "Nimbus Sans";
}

button, input, select, textarea {
    padding: 5px 10px;
    min-width: 80px;
    min-height: 34px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    background-color: var(--background);
    margin-bottom: 4px;
}

textarea {
    color: var(--text-color);
}

button:hover, input[type="submit"]:hover {
    background-color: var(--theme-color-light);
    color: var(--background);
    cursor: pointer;
}

button.major, input[type="submit"].major {
    background-color: var(--theme-color);
    color: var(--background);
}

button.major:hover, input[type="submit"].major:hover {
    background-color: var(--theme-color-light);
    color: var(--theme-color);
}

.button-group button, .button-group input[type="submit"] {
    float: left;
    border-right: none;
}

.button-group button:nth-last-child(1), .button-group input[type="submit"]:nth-last-child(1) {
    border-right: 2px solid var(--theme-color);
}

form label, form .label-fake {
    display: block;
}


form label span, form .label-fake span {
    display: inline-block;
    width: 75px;
    font-size: 11pt; 

}

input {
    min-width: 200px;
    color: var(--text-color);
}

.panel {
    width: auto;
    padding: 10px;
    border: 2px solid var(--theme-color);
    margin-bottom: 6px;
}

.panel .title {
    color: var(--theme-color);
    font-size: 14pt;
    font-weight: bold;
}

.panel.inverse {
    background-color: var(--theme-color);
    color: var(--background);
}

.panel.inverse .title{
    color: var(--background);
}

@media (max-width: 840px) {
    .grid-section {
        display: block;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-on-3-span-2 {
        grid-column: auto;
    }

    .grid-split-2 {
        display: block;
    } 

    .menu {
        display: block;
        float: right;
    }

    nav {
        display: none;
    }

    #nav {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        padding: 5px;
    }

    #nav a.close {
        display: block;
        text-decoration: none;
        float: right;
    }

    #nav a {
        display: block;
        font-size: 32pt;
        color: #fff;
        padding: 2px;
        font-weight: bold;
    }

    .gallery-grid {
        display: block;
    }

    .prtfsection .cols2, .prtfsection .cols3 {
        display: block;
    }
}

@media (max-width: 540px) {
    .grid {
        display: block;
    }

    h1 {
        font-size: 20pt;
    }
}