<!DOCTYPE html>
<html ng-app="avanceApp">
    <head>
        <title>avance</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#ee5500"/>
        <link rel="stylesheet" href="css/fonts.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body ng-controller="AvanceController">
        <header>
            <div class="container-wide">
                <h1>avance</h1>
                <nav ng-if="loggedin">
                    <a href="#" class="close">&times;</a>
                    <a href="#!/create">create</a>
                    <a href="#!/projects">projects</a>
                    <a href="#">john doe</a>
                    <a href="#!/admin">admin</a>
                </nav>
                <a ng-if="loggedin" href="#!/menu" class="menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </a>
            </div>
        </header>
        <div class="header"></div>
        
        <ng-view></ng-view>
        
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        
        <script src="avance/style.js"></script>
        <script src="avance/avance.js"></script>
        <script src="avance/pages/home.js"></script>
        <script src="avance/pages/admin.js"></script>
        <script src="avance/pages/login.js"></script>
        <script src="avance/pages/projects.js"></script>
        <script src="avance/pages/page.js"></script>
        <script src="avance/pages/create.js"></script>

        <script src="avance/services/userService.js"></script>
        <script src="avance/services/projectService.js"></script>
        <script src="avance/services/issueService.js"></script>
        <script src="avance/services/pageService.js"></script>
        <script src="avance/services/markupService.js"></script>
        <script src="avance/services/authService.js"></script>
        
        <script src="avance/components/pageedit.js"></script>
    </body>
</html>